.news {
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  gap: 5px;
  &__left {
    display: flex;
    flex-direction: column;

  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__big-img {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    object-fit: cover
  }
  &__little-img {
    width: 50%;
  }
}