.star-rating {
    position: relative;
    display: inline-flex;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    &__wrap {
      display: block;
      border: 1px solid lightgray;
      padding: 5px;
      border-radius: 5px;
  
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &__img {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 3px;
      flex-shrink: 0;
    }    
    &__subwrap {
      display: inline-flex;
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: 0.2s;
    }
    &__count {
      text-align: center;
      margin: 0 auto;
      margin-top: 5px;
      border: 1px solid lightgray;
      font-size: 15px;
    }
    &__reset {
      display: block;
      width: 70px;
      margin: 0 auto;
      margin-top: 5px;
    }
  }